@import url(frontend_user.css);

/* Process authoring main title. */
#authoring_title
{
	width: 930px;
	margin: 15px auto 0px auto;
	padding: 0px 0px 0px 20px;
	
	font-size: 18px;
	font-weight: bold;
	color: #255581;
}

/* Process authoring subtitle. */
#authoring_subtitle
{
	padding: 0px 0px 0px 20px;
	
	font-size: 14px;
	font-weight: bold;
	color: #255581;
	
	background: url(../img/bullet.png) no-repeat 5px;
}

/* Process Authoring form. */
#authoring_form
{
	width: 930px;
	margin: 20px 0px 0px 0px;
	
	color: #000000;
}

/* Table containing information and input fields about the process
   to create. */
#authoring_table
{
	width: 930px;
}

/* Cells in the Authoring Form's body. */
#authoring_table tbody td
{
	height: 20px;
	padding: 5px 5px 5px 5px;
	
	border: 1px solid #fff;
	background-color: #E5F2FF;
	border-collapse: separate;
}

#authoring_table td input[type="text"]
{
	border: 1px solid #A5ACB2;
}

/* Process Authoring Form submission area. */
#authoring_table #authoring_submit
{
	padding-top: 20px;
	text-align: center;
}

/* Submission button for the Authorin form. */
#authoring_table #authoring_submit #submit_process
{
	color: #000000;
}