@import url(frontend_user.css);

/* Body of the full screen process browser page specialization. */
body
{
	color: #000000;
	text-align: left;
	
	background: none;
}

/* Main area of the page specialization. */
#content
{
	width: 1024px;
	margin: 0 auto 0 auto;
}

/* Navigation area (containing) back and next buttons) specialization. */
#navigation
{
	height: 20px;
	position: relative;
	width:940px;
	margin:0px auto;
	text-align: center;
}

/* Single Interactive Tool container for the . */
#tools
{
	display: block;
	margin: 0 auto 0 auto;
	width:1024px;
	height:768px;	
}